@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*----------------------
     common styles
    ------------------  */

    body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* ----------------------
     Header styels
     --------------------- */

.web-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #2D25A0;
    padding-top: 153px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.web-title h1{
    font-size: 64px;
    line-height: 35px;
    color: white;

}
.live-link{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    color: white;
    
    
}
.live-link a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.web-banner img{
    width: 555px;
    height: 440px;
}
.web-container:hover .web-banner img{
    transform: scale(1.5);
    transition: transform 2s ease;
}

/*--------------------------
      players styles
 --------------------- */

    .players-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    .player{
        box-shadow: 0px 5px 15px rgb(0 0 0 / 25%);
        width: 330px;
        height: 474px;
        padding: 15px;
    }
    
    .thumbnail img{
        width: 100%;
        height: 256px;

    }
      
/* ---------------------
 why us blog styleys 
---------------------*/
    .blog-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
    .blog-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(255, 235, 198);
            border-radius: 10px;
            width: 1100px;
            height: 250px;
            padding: 50px;
            box-shadow: 0px 5px 15px rgb(41 41 41 / 58%);
    }

/* ----------------- 
    contact styles
--------------------- */
    .contact-container{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 100px;
            
    }
    .contact-detail, .dropline{
        box-shadow: 5px 5px 15px lightgray;
        padding: 15px;

    }

    .contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-form input, button {
        font-size: 1.3em;
        margin-top: 10px;
        padding-left: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .contact-form button {
        background-color: crimson;
        font-weight: 700;
        color: white;
         padding: 5px;
    }

/*------------------- 
     footer styels
-------------------*/

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin-bottom: 100px;
    }
        .footer-logo img{
        width: 483.87px;
        height: 110px;
    }
        .footer-icon a{
        text-decoration: none;
        color: #969BAB;
        margin-right: 10px;
    }
            
 /* ------------------
    media query
-------------------- */


@media only screen and (max-width:688px) {
    .web-container{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        width: 100%;
        padding-left: 0px;
    }
    .web-title{
        margin-left: 15px;

    }
    .web-title h1{
        font-size: 35px;
    }
    .web-banner img{
        width: 329px;
    height: 259.17px;
    margin: 0 0 0 15px;
    }
    .web-container:hover .web-banner img{
        transform: scale(1.5);
        transition: transform 2s ease;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .blog-info{
        height: auto;
        width: 100%;
    }
    .contact-info{
        grid-template-columns: repeat(1,1fr);
        width:100%;
        grid-row-gap: 50px;
    }

    .footer-logo img{ 
        width: 250px;
        height: auto;
    }
    
    
}